body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #c8e8fb;
}

h1 {
  color: #5F7161;
  font-family: 'Shalimar', cursive;
  font-size: 130px;
  margin: 0;
  top: 800;
  right: 50%;
}

h2 {
  font-family: 'EB Garamond', serif;
}

h3 {
  color: #6D8B74;
  font-family: 'EB Garamond', serif;
  border: 0;
}

.nav_item {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 60px;
  color: #a7773a;
}

.top-container {
  text-align: right;
  margin: 0;
  padding: 0 150px;
  background-color: #c8e8fb;
}

.middle-container {
  height: 600px;
  background-color: #c8e8fb;
}

.bottom-container {
  background-color: #EFEAD8;
  padding: 50px;
}

.icon_3_top {
  height: 90px;
  width: 90px;
  position: relative;
  right: 90%;
  top: 90px;
}

.icon_3 {
  height: 260px;
  width: 260px;
}

.firehose {
  height: 300px;
  width: 300px;
}

.c64 {
  height: 300px;
  width: 300px;
}

.python {
  height: 300px;
  width: 300px;
}

.cloud_1 {
  position: absolute;
  margin: 0;
  top: 20%;
  right: 15%;
}

.cloud_4 {
  position: absolute;
  margin: 0;
  top: 40%;
  right: 65%;
}

.mountains {
  position: static;
  border: 0;
  padding-top: 58px;
  right: 50%;
  bottom: 0;
}

.subdued {
  font-size: x-small;
  color: #95d3f7;
  position: absolute;
  padding-left: 10px;
  bottom: 20px;
}

.body_text {
  padding-left: 20%;
  padding-right: 20%;
  line-height: 2;
}

/* — when the user has not visited, hovered, or clicked on a link */
.menu:link {
  text-decoration: none;
  color: #a7773a;
}

/* — after the user has visited the link */
.menu:visited {
  text-decoration: none;
  color: #a7773a;
}

/* — when the user hovers their mouse over the link */
.menu:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #844e09;
}

/* — as the user is clicking on the link */
.menu:active {
  text-decoration: none;
  font-weight: bolder;
  color: #f1e500;
}

/* — when the user has not visited, hovered, or clicked on a link */
a.sub_link:link {
  text-decoration: none;
  color: #95d3f7;
}

/* — after the user has visited the link */
.sub_link:visited {
  text-decoration: none;
  color: #95d3f7;
}

/* — when the user hovers their mouse over the link */
.sub_link:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #43a2da;
}

/* — as the user is clicking on the link */
.sub_link:active {
  text-decoration: none;
  font-weight: bolder;
  color: #a7773a;
}
